<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/milligram.min.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <div id="button-row">
    <a class="button" href="#">Add User</a>
    <a class="button" href="#">Edit User</a>
    <a class="button" href="#">Delete User</a>
  </div>
  <div id="add-form">
    <form>
      <fieldset>
        <label for="userIdField">User ID</label>
        <input placeholder="User ID" id="userIdField" type="text">
        <label for="nameField">Name</label>
        <input placeholder="Name" id="nameField" type="text">
        <label for="emailField">Email</label>
        <input placeholder="Email" id="emailField" type="text">
        <label for="licenseField">License Type</label>
        <select id="licenseField">
          <option value="Internal">Internal</option>
          <option value="External">External</option>
          <option value="Alert">Alert</option>
        </select>
        <div>
          <input id="disabledField" type="checkbox">
          <label class="label-inline" for="disabledField">Account disabled?</label>
        </div>  
        <input class="button-primary" value="Add" type="submit">
      </fieldset>
    </form>
  </div>
</body>

</html>